[submodule "Workspace/minitalk"]
	path = Workspace/minitalk
	url = git@github.com:WAROL52/42-minitalk.git
[submodule "Workspace/push_swap"]
	path = Workspace/push_swap
	url = git@github.com:WAROL52/42-push_swap.git
[submodule "Workspace/libft"]
	path = Workspace/libft
	url = git@github.com:WAROL52/42-libft.git
[submodule "Workspace/printf"]
	path = Workspace/printf
	url = git@github.com:WAROL52/42-printf.git
[submodule "Workspace/philo"]
	path = Workspace/philo
	url = git@github.com:WAROL52/42-philosophers.git
[submodule "Workspace/so_long"]
	path = Workspace/so_long
	url = git@github.com:WAROL52/42-so_long.git
[submodule "Workspace/get_next_line"]
	path = Workspace/get_next_line
	url = git@github.com:WAROL52/42-get_next_line.git
