[submodule "Workspace/libft"]
	path = Workspace/libft
	url = git@github.com:WAROL52/42-libft.git
[submodule "Workspace/printf"]
	path = Workspace/printf
	url = git@github.com:WAROL52/42-printf.git
[submodule "Workspace/get_next_line"]
	path = Workspace/get_next_line
	url = git@github.com:WAROL52/42-get_next_line.git
